// Text Align
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-justify {
  text-align: justify;
  text-rendering: optimizeLegibility;
  word-break: break-all;
}