// Width
$width-pc: 960px;
$width-tablet: 768px;
$width-smartphone: 480px;


// Font
$font: Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;


// Web Font
@include font-face(
	'Proxima Nova Regular', 
	font-files(
		'proximanova/proximanova_regular.woff', woff,
		'proximanova/proximanova_regular.ttf', ttf
	),
	'proximanova/proximanova_regular.eot',
	'normal',
	'normal'
);
@include font-face(
	'Proxima Nova Bold', 
	font-files(
		'proximanova/proximanova_bold.woff', woff,
		'proximanova/proximanova_bold.ttf', ttf
	),
	'proximanova/proximanova_bold.eot',
	'bold',
	'normal'
);

$webfont: 'Proxima Nova Regular', sans-serif;
$webfont-bold: 'Proxima Nova Bold', sans-serif;


// Background Color
$bgColor: #fff;


// Color
$color: #333;
$color-inverse: #fff;
$color-link: #f9ac2b;