// Grid System
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: $width-pc;
  padding-left: 1%;
  padding-right: 1%;
  @include clearfix;
  
  $gridMargin: 1.8%;
  $gridWidth: 100% / 12 - $gridMargin;
  
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-7,
  .grid-8,
  .grid-9,
  .grid-10,
  .grid-11,
  .grid-12 {
    float: left;
    margin-left: $gridMargin / 2;
    margin-right: $gridMargin / 2;
  }
  
  .grid-1 { width: $gridWidth; }
  .grid-2 { width: $gridWidth * 2 + $gridMargin; }
  .grid-3 { width: $gridWidth * 3 + $gridMargin * 2; }
  .grid-4 { width: $gridWidth * 4 + $gridMargin * 3; }
  .grid-5 { width: $gridWidth * 5 + $gridMargin * 4; }
  .grid-6 { width: $gridWidth * 6 + $gridMargin * 5; }
  .grid-7 { width: $gridWidth * 7 + $gridMargin * 6; }
  .grid-8 { width: $gridWidth * 8 + $gridMargin * 7; }
  .grid-9 { width: $gridWidth * 9 + $gridMargin * 8; }
  .grid-10 { width: $gridWidth * 10 + $gridMargin * 9; }
  .grid-11 { width: $gridWidth * 11 + $gridMargin * 10; }
  .grid-12 { width: $gridWidth * 12 + $gridMargin * 11; }
  
  // Clearfix
  .clear {
    clear: both;
  }
}


// Tablet
@include mediaquery-tablet {
  .container {
    max-width: $width-tablet;
    padding-left: 2%;
    padding-right: 2%;
    
    $gridMargin: 2.5%;
    $gridWidth: 100% / 12 - $gridMargin;
    
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11,
    .grid-12 {
      margin-left: $gridMargin / 2;
      margin-right: $gridMargin / 2;
    }
    
    .grid-1 { width: $gridWidth * 2 + $gridMargin; }
    .grid-2 { width: $gridWidth * 4 + $gridMargin * 3; }
    .grid-3 { width: $gridWidth * 4 + $gridMargin * 3; }
    .grid-4 { width: $gridWidth * 4 + $gridMargin * 3; }
    .grid-5 { width: $gridWidth * 5 + $gridMargin * 4; }
    .grid-6 { width: $gridWidth * 6 + $gridMargin * 5; }
    .grid-7 { width: $gridWidth * 7 + $gridMargin * 6; }
    .grid-8 { width: $gridWidth * 8 + $gridMargin * 7; }
    .grid-9 { width: $gridWidth * 8 + $gridMargin * 7; }
    .grid-10 { width: $gridWidth * 8 + $gridMargin * 7; }
    .grid-11 { width: $gridWidth * 10 + $gridMargin * 9; }
    .grid-12 { width: $gridWidth * 12 + $gridMargin * 11; }
  }
}


// SmartPhone
@include mediaquery-smartphone {
  .container {
    max-width: $width-smartphone;
    padding-left: 3%;
    padding-right: 3%;
    
    $gridMargin: 4%;
    $gridWidth: 100% / 12 - $gridMargin;
    
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11,
    .grid-12 {
      margin-left: $gridMargin / 2;
      margin-right: $gridMargin / 2;
    }

    .grid-1 { width: $gridWidth * 4 + $gridMargin * 3; }
    .grid-2 { width: $gridWidth * 6 + $gridMargin * 5; }
    .grid-3 { width: $gridWidth * 12 + $gridMargin * 11; }
    .grid-4 { width: $gridWidth * 12 + $gridMargin * 11; }
    .grid-5 { width: $gridWidth * 12 + $gridMargin * 11; }
    .grid-6 { width: $gridWidth * 12 + $gridMargin * 11; }
    .grid-7 { width: $gridWidth * 12 + $gridMargin * 11; }
    .grid-8 { width: $gridWidth * 12 + $gridMargin * 11; }
    .grid-9 { width: $gridWidth * 12 + $gridMargin * 11; }
    .grid-10 { width: $gridWidth * 12 + $gridMargin * 11; }
    .grid-11 { width: $gridWidth * 12 + $gridMargin * 11; }
    .grid-12 { width: $gridWidth * 12 + $gridMargin * 11; }
  }
}