// Width
$width-pc: 960px;
$width-tablet: 768px;
$width-smartphone: 480px;
$width-scrollbar: 20px;


// Font
$font: Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;


// Background Color
$bgColor: #F5F5F5;


// Color
$color: #333;
$color-inverse: #fff;
$color-link: #f9ac2b;